# Excluding out all training images
yolov5/datasets/train/Czech
yolov5/datasets/train/India
yolov5/datasets/train/Japan
yolov5/datasets/train.tar.gz

# Excluding virtual environment
venv

# Excluding other files
.DS_Store
yolov5/.github/

# Excluding runs folder
yolov5/runs

# Cache related folders
__pycache__/

# Neural Network weights #
*.weights
*.pt
*.onnx
*.mlmodel
*.torchscript
darknet53.conv.74
yolov3-tiny.conv.15

