# Excluding out all training images
datasets/train

# Excluding virtual environment
venv

# Excluding other files
.DS_Store
yolov5/.github/

# Excluding runs folder
yolov5/runs

# Cache related folders
__pycache__/

# Neural Network weights #
*.weights
*.pt
*.onnx
*.mlmodel
*.torchscript
darknet53.conv.74
yolov3-tiny.conv.15

# Other meta info file
src/run_info_details.txt

# Removing cache files
datasets/train.cache
datasets/valid.cache
datasets/test.cache

# Removing logs folder
logs

# Adding .txt files
datasets/train.txt
datasets/valid.txt
datasets/test.txt

# Ignoring secured credential details
secured_conf